<h1> Create a new message </h1>
<form method="POST" action="/new">
    <label id="author">Author Name:</label>
    <input type="text" id="author" name="author"placeholder="Arthur">

    <label id="message"> Message: </label>
    <input type="text" id="message" name="message" placeholder="Good Day!">
    <button type="submit"> Enter </button>
</form>